// ================ MAIN COLORS ================
$primary:#e2db1a;
$secondary: #fff;
$textColor: #6f6d70;
$gray:#d0d0d0;
$black: #000;
$waterMark: rgba(5, 5, 5, 0.05);
// ================ SECTIONS PADDIND ================
$sectionPadding: 130px 0px;
